# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables file
.env

# Backups directory (ignore everything inside)
backups/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Editor files
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
